<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Riparazioni e Assistenza</title>
    <link rel="icon" href="../static/icon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            padding-top: 60px;
        }

        @media (max-width: 768px) {
            body {
                padding-top: 56px;
            }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">🛠️ Riparazioni</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/v1.0/clienti/">Clienti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/v1.0/riparazioni/">Riparazioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/v1.0/magazzino/">Magazzino</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container mt-5">
    <div class="text-center">
        <h2>Quantum Sat Est</h2>
        <p class="lead">Specializzati in riparazioni e assistenza tecnica</p>
    </div>
</section>

<section class="container mt-5">
    <div class="row">
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Riparazioni In Attesa </h5>
                    <p class="card-text" id="completedRepairs">{{inAttesa}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Riparazioni Completate</h5>
                    <p class="card-text">{{completate}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Profitto Totale</h5>
                    <p class="card-text" >€ {{effettivo}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" data-toggle="tooltip" data-placement="top" data-delay="500" title="Questo profitto conta anche le riparazioni non complatate">Profitto Totale non Realizzato</h5>
                    <p class="card-text">€ {{possibile}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Grafico Riparazioni per Marca</h5>
                    <canvas id="riparazioniChart"></canvas>
                </div>
            </div>
        </div>
        <!-- Altre colonne o contenuto della pagina -->
    </div>
</section>


<script>
        // Ottieni i dati del grafico passati da Jinja2

        // Ottieni il riferimento al canvas
        var canvas = document.getElementById('riparazioniChart').getContext('2d');

        // Crea il grafico a barre
        var graficoRiparazioni = new Chart(canvas, {
            type: 'bar',
            data: {
                labels: {{marche}},
                datasets: [{
                    label: 'Numero di Riparazioni',
                    data: {{numero_riparazioni}},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip();
});

</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>
